<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--    开启配置文件形式的自动扫描，Spring会自动扫描cn.edu.tyut.cnedutyutspringmvc包及其子包下的Java类，如果带有@Service、@Controller、@Response等注解，则把这些类注册为Bean并存放进IOC容器中-->
    <context:component-scan base-package="cn.edu.tyut.cnedutyutspringmvc"/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--        最终视图的地址为: 视图页面的前缀 + 逻辑视图名 + 视图页面的后缀-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>